.pane1 {
	-fx-background-image: url(fondo1.jpg);
}

.pane2 {
	-fx-background-image: url(fondo2.jpg);
	-fx-background-size: 85%;
	
}

.pane3 {
	-fx-background-image: url(fondo3.jpg);
}

.pane4 {
	-fx-background-image: url(fondo4.jpg);
	-fx-background-size: 100%;
}